/* ______________________________ */
/* EL ESTILO DE ItemListContainer */

ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    
}
a{
    margin-right: 40px;
    border: 2px solid black;
    background-color: antiquewhite;
    font-size: x-large;
    text-decoration: none;
}
/* _____________________________ */
/* EL ESTILO DEL LOGO DE COMPRAS */
img{
    max-width: 150px;
    max-height: 150px;
    align-items: center;
}
/* _____________________________ */
/* _________________ */
/* EL TITULO DEL LAYOUT */
.titulo{
    text-decoration: none;
    color: #68da3e;
    background-color: #6aa3b4;
    text-align: center;
}
/* _______________________________ */
.items{
    border: solid 4px black;
    margin: 3px;
    width: max-content;
}
/* ___________________________ */
.itemlist{
    display: flex;
    flex-direction: row;
}