/* ______________________________ */
/* EL ESTILO DE ItemListContainer */

ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    
}
a{
    margin-right: 40px;
    background-color: #cdff00;
    font-size: x-large;
    text-decoration: none;
}
/* _____________________________ */
/* EL ESTILO DEL CARRITO */
.barra{
    display: flex;
    flex-direction: row;
    background-color: #cdff00;    
}

.logoF{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}

.carrito{
    max-width: 150px;
    max-height: 150px;
}

.carritoF{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

/* _____________________________ */
/* _________________ */
/* EL TITULO DEL LAYOUT */
.titulo{
    text-decoration: none;
    color: #68da3e;
    background-color: #6aa3b4;
    text-align: center;
}
/* _______________________________ */
.items{
    border: solid 4px black;
    margin: 3px;
    width: max-content;
}
/* ___________________________ */
.itemlist{
    display: flex;
    flex-direction: row;
}
/* ___________________________ */
.imgItems{
    max-width: 350px;
    max-height: 350px;
    align-content: center;
}
/* ___________________________ */
.dataItem{
    text-align: center;
    align-content: center;
}
/* ___________________________ */
.contadorItem{
    text-align: center;
    align-content: center;
}

/* _______________________ */
/* los items del catalogo */
.grande{
    border: solid 4px black;
    margin: 3px;
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.chico{
    text-align: center;
}
/* ______________________ */